 /* mobile style */
 @media screen and (max-width:600px) {

     .col-1 {
         width: 8.33%;
     }

     .col-2 {
         width: 16.66%;
     }

     .col-3 {
         width: 25%;
     }

     .col-4 {
         width: 33.33%;
     }

     .col-5 {
         width: 41.66%;
     }

     .col-6 {
         width: 50%;
     }

     .col-7 {
         width: 58.33%;
     }

     .col-8 {
         width: 66.66%;
     }

     .col-9 {
         width: 75%;
     }

     .col-10 {
         width: 83.33%;
     }

     .col-11 {
         width: 91.66%;
     }

     .col-12 {
         width: 100%;
     }
 }


 /* tablet style */
 @media screen and (min-width:600px) and (max-width:960px) {
     .col-md-1 {
         width: 8.33%;
     }

     .col-md-2 {
         width: 16.66%;
     }

     .col-md-3 {
         width: 25%;
     }

     .col-md-4 {
         width: 33.33%;
     }

     .col-md-5 {
         width: 41.66%;
     }

     .col-md-6 {
         width: 50%;
     }

     .col-md-7 {
         width: 58.33%;
     }

     .col-md-8 {
         width: 66.66%;
     }

     .col-md-9 {
         width: 75%;
     }

     .col-md-10 {
         width: 83.33%;
     }

     .col-md-11 {
         width: 91.66%;
     }

     .col-md-12 {
         width: 100%;
     }
 }

 /* laptop style */
 @media screen and (min-width:960px) and (max-width:1264px) {
     .col-lg-1 {
         width: 8.33%;
     }

     .col-lg-2 {
         width: 16.66%;
     }

     .col-lg-3 {
         width: 25%;
     }

     .col-lg-4 {
         width: 33.33%;
     }

     .col-lg-5 {
         width: 41.66%;
     }

     .col-lg-6 {
         width: 50%;
     }

     .col-lg-7 {
         width: 58.33%;
     }

     .col-lg-8 {
         width: 66.66%;
     }

     .col-lg-9 {
         width: 75%;
     }

     .col-lg-10 {
         width: 83.33%;
     }

     .col-lg-11 {
         width: 91.66%;
     }

     .col-lg-12 {
         width: 100%;

     }

     /* desktop style */
     @media screen and (min-width:1264px) and (max-width:1904px) {
         .col-xlg-1 {
             width: 8.33%;
         }

         .col-xlg-2 {
             width: 16.66%;
         }

         .col-xlg-3 {
             width: 25%;
         }

         .col-xlg-4 {
             width: 33.33%;
         }

         .col-xlg-5 {
             width: 41.66%;
         }

         .col-xlg-6 {
             width: 50%;
         }

         .col-xlg-7 {
             width: 58.33%;
         }

         .col-xlg-8 {
             width: 66.66%;
         }

         .col-xlg-9 {
             width: 75%;
         }

         .col-xlg-10 {
             width: 83.33%;
         }

         .col-xlg-11 {
             width: 91.66%;
         }

         .col-xlg-12 {
             width: 100%;

         }

         /* 4k style */
         @media screen and (min-width:1904px) {
             .col-xxlg-1 {
                 width: 8.33%;
             }

             .col-xlg-2 {
                 width: 16.66%;
             }

             .col-xlg-3 {
                 width: 25%;
             }

             .col-xxlg-4 {
                 width: 33.33%;
             }

             .col-xxlg-5 {
                 width: 41.66%;
             }

             .col-xxlg-6 {
                 width: 50%;
             }

             .col-xxlg-7 {
                 width: 58.33%;
             }

             .col-xxlg-8 {
                 width: 66.66%;
             }

             .col-xxlg-9 {
                 width: 75%;
             }

             .col-xxlg-10 {
                 width: 83.33%;
             }

             .col-xxlg-11 {
                 width: 91.66%;
             }

             .col-xxlg-12 {
                 width: 100%;

             }
         }